// this value is in the home directory npm config file (~/.npmrc)
// init-author-name=Name of Author

// turn on progress bar
progress=true

// automatically save to package.json without having to use --save
save=true

// put the exact package version without automatic updates enabled
save-exact=true
