<html>
  <head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">Serving up HTML</div>
    </div>

    <h1>
      Welcome to <%=title%>
    </h1>

    <ul>
      <%for(var i=0; i<list.length; i++){%>
        <li><%= list[i] %></li>
      <%}%>
    </ul>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>